/conjectures_refutation/data/benchmark.csv
/conjectures_refutation/data/identifiers.txt
/out/*
.DS_Store
.idea
/conjectures_refutation/.DS_Store
server_codex.py
server_ollama.py
conjectures_refutation/__pycache__