tqdm
arxiv
mistralai
python-dotenv
openpyxl
pymupdf
frontend
Pillow
addict
matplotlib
einops
transformers==4.46.3
tokenizers==0.20.3
img2pdf
easydict
numpy
google-genai
pyyaml==6.0.2
typing-extensions==4.13.2
pulp
torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0
PyMuPDF